server:
  port: 9000
  servlet:
    session:
      cookie:
        name: AUTHSERVER_SESSION
spring:
  security:
    oauth2:
      authorizationserver:
        client:
          local:
            registration:
              client-id: "oidc-client"
              client-secret: "{noop}secret"
              client-authentication-methods:
                - "client_secret_basic"
              authorization-grant-types:
                - "authorization_code"
                - "client_credentials"
                - "urn:ietf:params:oauth:grant-type:device_code"
              redirect-uris:
                - "http://localhost:8080/login/oauth2/code/spring-auth-server"
                - "http://localhost:8084/login/oauth2/code/spring-auth-server"
                - "http://localhost:8080/authorize/oauth2/code/spring-auth-server"
              scopes:
                - "openid"
                - "email"
                - "profile"
                - "device"
                - "conference.list"
                - "conference.admin"
            require-authorization-consent: false
logging:
  level:
    org.springframework.security: TRACE